<h1>Publishers</h1>
<br>
<div class="card border rounded mt-3" style="background-color: rgb(185, 184, 183);">
    <a href="/channels" class="ml-3 mt-3">Channels ativos</a>
    <form action="/" method="post" class="mt-3 mb-3 ml-3">
        <div class="form-group">
            <label for="">Publisher:</label><br>
            <input type="text" class="form-control" name="canal" style="width: 50%; height=40px"><br>
            <label for="">Message:</label><br>
            <textarea class="form-control" name="publicacao" rows="3" style="width: 50%;"></textarea>
        </div>
        <button type="submit" class="btn-primary">Enviar</button>
    </form>
</div>

<h3 class="mt-3">Mensagens enviadas: </h3>
<a href="/limpar"><button class="btn-primary">Limpar</button></a>
<br>
{{#each mensagens}}
<div class="card border rounded mt-3" style="background-color: rgb(185, 184, 183);">
    <h4 class="ml-2">{{canal}}</h4>
    <small class="ml-2">{{horas}}:{{minutos}}</small>
    <p class="ml-3">{{mensagens}}</p>
</div>
{{/each}}